/*Сделать весь текст невыделяемым*/
* {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*Отключить стандартные отступы тела страницы*/
body {
  margin: 0;
}

.container{
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.scene{
  width: 960px;
  height: 560px;
  border: 6px solid #8BC34A;
  border-radius: 12px;
  background-color: rgb(252, 243, 205);
  position: relative;
  margin: 0 auto;
  top: 30px;
}

.scene .title {
  display: inline-block;
  position: relative;
  font-size: 36px;
  color: #464242;
  top: 10px;
}

.setka{
  width: 360px;
  height: 360px;
  display: inline-block;
  /*font-size: 0px;*/

  /*border: 1px solid red;*/
}

.setka .b{
  width: 120px;
  height: 120px;
  border: 1px solid black;
  float: left;
}

.setka .b0{
  border-right:  none;
  border-bottom: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.setka .b1{
  border-bottom: none;
  border-right: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.setka .b2{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-bottom: none

}

.setka .b3{
  border-right: none;
  border-bottom: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.setka .b4{
  border-right: none;
  border-bottom: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.setka .b5{
  border-bottom: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.setka .b6{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: none;
}

.setka .b7{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-right: none;
}

.setka .b8{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.box {
  width: 360px;
  height: 360px;
  display: inline-block;
  position: relative;
  margin-left: 100px;
  border: 1px solid green;*/
}

.box .img{
  width: 120px;
  height: 120px;
  position: absolute;
}

.box .img0{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url('../img/0_0.png');
}

.box .img1{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url('../img/0_1.png');
}

.box .img2{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url('../img/0_2.png');
}

.box .img3{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url('../img/1_0.png');
}

.box .img4{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url('../img/1_1.png');
}

.box .img5{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url('../img/1_2.png');
}

.box .img6{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url('../img/2_0.png');
}

.box .img7{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url('../img/2_1.png');
}

.box .img8{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url('../img/2_2.png');
  }

.mainbox {
  width: 900px;
  height: 420px;
  display: inline-block;
  /*border: 1px solid red;*/
}
}
